@model CVFormModel

<div class="row justify-content-center">
    <div class="col-lg-10 col-xl-8">
        <form method="post" enctype="multipart/form-data">
            <div class="card p-4 shadow-lg">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group mb-3">
                            <label asp-for="FirstName" class="fw-bold text-dark">
                                <i class="fas fa-user"></i> Първо име
                            </label>
                            <input asp-for="FirstName" class="form-control form-control-lg shadow-sm" placeholder="Първо име" />
                            <span asp-validation-for="FirstName" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="BirthDate" class="fw-bold text-dark">
                                <i class="fas fa-calendar"></i> Рожденна дата
                            </label>
                            <input asp-for="BirthDate" class="form-control form-control-lg shadow-sm" placeholder="Рожденна дата(формат: dd/MM/yyyy)" />
                            <span asp-validation-for="BirthDate" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Email" class="fw-bold text-dark">
                                <i class="fas fa-envelope"></i> Имейл
                            </label>
                            <input asp-for="Email" class="form-control form-control-lg shadow-sm" placeholder="Имей;" />
                            <span asp-validation-for="Email" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="LinkedInProfile" class="fw-bold text-dark">
                                <i class="fab fa-linkedin"></i> LinkedIn профил
                            </label>
                            <input asp-for="LinkedInProfile" class="form-control form-control-lg shadow-sm" placeholder="Линк за LinkedIn профил" />
                            <span asp-validation-for="LinkedInProfile" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="PhoneNumber" class="fw-bold text-dark">
                                <i class="fas fa-phone"></i> Телефонен номер
                            </label>
                            <input asp-for="PhoneNumber" class="form-control form-control-lg shadow-sm" placeholder="Телефонен номер" />
                            <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Address" class="fw-bold text-dark">
                                <i class="fas fa-map-marker-alt"></i> Адрес
                            </label>
                            <input asp-for="Address" class="form-control form-control-lg shadow-sm" placeholder="Адрес" />
                            <span asp-validation-for="Address" class="small text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group mb-3">
                            <label asp-for="LastName" class="fw-bold text-dark">
                                <i class="fas fa-user-tag"></i> Фамилия
                            </label>
                            <input asp-for="LastName" class="form-control form-control-lg shadow-sm" placeholder="Фамилия" />
                            <span asp-validation-for="LastName" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Citizenship" class="fw-bold text-dark">
                                <i class="fas fa-globe"></i> Гражданство
                            </label>
                            <input asp-for="Citizenship" class="form-control form-control-lg shadow-sm" placeholder="Гражданство" />
                            <span asp-validation-for="Citizenship" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Languages" class="fw-bold text-dark">
                                <i class="fas fa-language"></i> Езици
                            </label>
                            <input asp-for="Languages" class="form-control form-control-lg shadow-sm" placeholder="Езици" />
                            <span asp-validation-for="Languages" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Skills" class="fw-bold text-dark">
                                <i class="fas fa-cogs"></i> Умения
                            </label>
                            <input asp-for="Skills" id="skills" class="form-control form-control-lg shadow-sm" placeholder="Умения" />
                            <span asp-validation-for="Skills" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="DrivingLicense" class="fw-bold text-dark">
                                <i class="fas fa-id-card"></i> Категория за управление на МПС
                            </label>
                            <input asp-for="DrivingLicense" class="form-control form-control-lg shadow-sm" placeholder="Категория за управление на МПС" />
                            <span asp-validation-for="DrivingLicense" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Gender" class="fw-bold text-dark">
                                <i class="fas fa-venus-mars"></i> Пол
                            </label>
                            <input asp-for="Gender" class="form-control form-control-lg shadow-sm" placeholder="Пол" />
                            <span asp-validation-for="Gender" class="small text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Image" class="fw-bold text-dark">
                        <i class="fas fa-camera"></i> Снимка
                    </label>

                    @if (!string.IsNullOrEmpty(Model.PhotoUrl))
                    {
                        <div class="mb-3">
                            <img src="@Model.PhotoUrl" alt="Current Photo" class="img-thumbnail" style="max-width: 200px;" />
                        </div>
                    }

                    <input asp-for="Image" type="file" class="form-control form-control-lg shadow-sm" accept="image/*" placeholder="Избери снимка" />
                    <span asp-validation-for="Image" class="small text-danger"></span>
                </div>

                <input asp-for="PhotoUrl" type="hidden"/>

                <br />

                <div class="degree">
                    <div class="form-group">
                        <label>
                            <i class="fas fa-graduation-cap"></i> Образования
                        </label>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#degreeModal">
                            <i class="fas fa-plus"></i> Добави образование
                        </button>

                        <div id="degreeList">
                            @foreach (var degree in Model.Degrees)
                            {
                                <div class="degree-item">
                                    <p>
                                        <i class="fas fa-university"></i> @degree.EducationalInstitution -
                                        @degree.Major (@degree.StartDate - @degree.EndDate)
                                    </p>
                                    <button type="button" class="btn btn-sm btn-warning editDegreeButton">
                                        <i class="fas fa-edit"></i> Редактирай
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger deleteDegreeButton">
                                        <i class="fas fa-trash"></i> Изтрий
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="professionalExperience">
                    <div class="form-group">
                        <label>
                            <i class="fas fa-briefcase"></i> Професионален опит
                        </label>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#professionalExperienceModal">
                            <i class="fas fa-plus"></i> Добави професионален опит
                        </button>

                        <div id="professionalExperienceList">
                            @foreach (var professionalExperience in Model.ProfessionalExperiences)
                            {
                                <div class="experience-item" data-company-name="@professionalExperience.CompanyName" data-city="@professionalExperience.City">
                                    <p>
                                        <i class="fas fa-building"></i> @professionalExperience.CompanyName -
                                        @professionalExperience.City (@professionalExperience.StartDate - @professionalExperience.EndDate)
                                    </p>
                                    <button type="button" class="btn btn-sm btn-warning editExperienceButton">
                                        <i class="fas fa-edit"></i> Редактирай
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger deleteExperienceButton">
                                        <i class="fas fa-trash"></i> Изтрий
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input asp-for="DegreesJson" id="degreesJson" type="hidden" value="" />
                </div>

                <div class="form-group">
                    <input asp-for="ProfessionalExperiencesJson" id="professionalExperiencesJson" type="hidden" value="" />
                </div>

                <div class="text-center">
                    <input id="submit" class="btn btn-primary btn-lg mt-4 px-5" type="submit" value="Запази" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="degreeModal" tabindex="-1" aria-labelledby="degreeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="degreeModalLabel"><i class="fas fa-graduation-cap"></i> Добави образование</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="educationalInstitution">Учебно заведение</label>
                    <input type="text" id="educationalInstitution" class="form-control" required placeholder="Учебно заведение">
                </div>
                <div class="form-group">
                    <label for="major">Специалност</label>
                    <input type="text" id="major" class="form-control" required placeholder="Специалност">
                </div>
                <div class="form-group">
                    <label for="educationalLevel">Ниво</label>
                    <input type="text" id="educationalLevel" class="form-control" required placeholder="Ниво">
                </div>
                <div class="form-group">
                    <label for="city">Град</label>
                    <input type="text" id="city" class="form-control" required placeholder="Град">
                </div>
                <div class="form-group">
                    <label for="startDate">Начална дата</label>
                    <input id="startDate" class="form-control" required placeholder="Начална дата(формат: dd/MM/yyyy)">
                </div>
                <div class="form-group">
                    <label for="endDate">Крайна дата</label>
                    <input id="endDate" class="form-control" required placeholder="Крайна дата(формат: dd/MM/yyyy)">
                </div>
                <div class="form-group">
                    <label for="description">Описание</label>
                    <textarea id="description" class="form-control" placeholder="Описание"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
                <button type="button" class="btn btn-primary" id="addDegreeButton">
                    <i class="fas fa-plus"></i> Добави образование
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="professionalExperienceModal" tabindex="-1" aria-labelledby="professionalExperienceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="professionalExperienceModalLabel">
                    <i class="fas fa-briefcase"></i> Добави професионален опит
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="companyName">Име на компания</label>
                    <input type="text" id="companyName" class="form-control" required placeholder="Име на компания">
                </div>
                <div class="form-group">
                    <label for="experienceCity">Град>
                    <input type="text" id="experienceCity" class="form-control" required placeholder="Град">
                </div>
                <div class="form-group">
                    <label for="experienceStartDate">Начална дата</label>
                    <input id="experienceStartDate" class="form-control" required placeholder="Начална дата">
                </div>
                <div class="form-group">
                    <label for="experienceEndDate">Крайна дата</label>
                    <input id="experienceEndDate" class="form-control" required placeholder="Крайна дата">
                </div>
                <div class="form-group">
                    <label for="experienceDescription">Описание</label>
                    <textarea id="experienceDescription" class="form-control" placeholder="Описание"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
                <button type="button" class="btn btn-primary" id="addProfessionalExperienceButton">
                    <i class="fas fa-plus"></i> Добави професионален опит
                </button>
            </div>
        </div>
    </div>
</div>