@model CVFormModel

<div class="row justify-content-center">
    <div class="col-lg-10 col-xl-8">
        <form method="post" enctype="multipart/form-data">
            <div class="card p-4 shadow-lg">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group mb-3">
                            <label asp-for="FirstName" class="fw-bold text-dark">
                                <i class="fas fa-user"></i> First Name
                            </label>
                            <input asp-for="FirstName" class="form-control form-control-lg shadow-sm" placeholder="First Name" />
                            <span asp-validation-for="FirstName" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="BirthDate" class="fw-bold text-dark">
                                <i class="fas fa-calendar"></i> Birth Date
                            </label>
                            <input asp-for="BirthDate" class="form-control form-control-lg shadow-sm" placeholder="Birth Date (Format: dd/MM/yyyy)" />
                            <span asp-validation-for="BirthDate" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Email" class="fw-bold text-dark">
                                <i class="fas fa-envelope"></i> Email
                            </label>
                            <input asp-for="Email" class="form-control form-control-lg shadow-sm" placeholder="Email" />
                            <span asp-validation-for="Email" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="LinkedInProfile" class="fw-bold text-dark">
                                <i class="fab fa-linkedin"></i> LinkedIn Profile
                            </label>
                            <input asp-for="LinkedInProfile" class="form-control form-control-lg shadow-sm" placeholder="LinkedIn Profile Link" />
                            <span asp-validation-for="LinkedInProfile" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="PhoneNumber" class="fw-bold text-dark">
                                <i class="fas fa-phone"></i> Phone Number
                            </label>
                            <input asp-for="PhoneNumber" class="form-control form-control-lg shadow-sm" placeholder="Phone Number" />
                            <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Address" class="fw-bold text-dark">
                                <i class="fas fa-map-marker-alt"></i> Address
                            </label>
                            <input asp-for="Address" class="form-control form-control-lg shadow-sm" placeholder="Address" />
                            <span asp-validation-for="Address" class="small text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group mb-3">
                            <label asp-for="LastName" class="fw-bold text-dark">
                                <i class="fas fa-user-tag"></i> Last Name
                            </label>
                            <input asp-for="LastName" class="form-control form-control-lg shadow-sm" placeholder="Last Name" />
                            <span asp-validation-for="LastName" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Citizenship" class="fw-bold text-dark">
                                <i class="fas fa-globe"></i> Citizenship
                            </label>
                            <input asp-for="Citizenship" class="form-control form-control-lg shadow-sm" placeholder="Citizenship" />
                            <span asp-validation-for="Citizenship" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Languages" class="fw-bold text-dark">
                                <i class="fas fa-language"></i> Languages
                            </label>
                            <input asp-for="Languages" class="form-control form-control-lg shadow-sm" placeholder="Languages" />
                            <span asp-validation-for="Languages" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Skills" class="fw-bold text-dark">
                                <i class="fas fa-cogs"></i> Skills
                            </label>
                            <input asp-for="Skills" id="skills" class="form-control form-control-lg shadow-sm" placeholder="Skills" />
                            <span asp-validation-for="Skills" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="DrivingLicense" class="fw-bold text-dark">
                                <i class="fas fa-id-card"></i> Driving License
                            </label>
                            <input asp-for="DrivingLicense" class="form-control form-control-lg shadow-sm" placeholder="Driving License" />
                            <span asp-validation-for="DrivingLicense" class="small text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Gender" class="fw-bold text-dark">
                                <i class="fas fa-venus-mars"></i> Gender
                            </label>
                            <input asp-for="Gender" class="form-control form-control-lg shadow-sm" placeholder="Gender" />
                            <span asp-validation-for="Gender" class="small text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Image" class="fw-bold text-dark">
                        <i class="fas fa-camera"></i> Photo
                    </label>

                    @if (!string.IsNullOrEmpty(Model.PhotoUrl))
                    {
                        <div class="mb-3">
                            <img src="@Model.PhotoUrl" alt="Current Photo" class="img-thumbnail" style="max-width: 200px;" />
                        </div>
                    }

                    <input asp-for="Image" type="file" class="form-control form-control-lg shadow-sm" accept="image/*" placeholder="Choose a photo" />
                    <span asp-validation-for="Image" class="small text-danger"></span>
                </div>

                <input asp-for="PhotoUrl" type="hidden"/>

                <br />

                <div class="degree">
                    <div class="form-group">
                        <label>
                            <i class="fas fa-graduation-cap"></i> Degrees
                        </label>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#degreeModal">
                            <i class="fas fa-plus"></i> Add Degree
                        </button>

                        <div id="degreeList">
                            @foreach (var degree in Model.Degrees)
                            {
                                <div class="degree-item">
                                    <p>
                                        <i class="fas fa-university"></i> @degree.EducationalInstitution -
                                        @degree.Major (@degree.StartDate - @degree.EndDate)
                                    </p>
                                    <button type="button" class="btn btn-sm btn-warning editDegreeButton">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger deleteDegreeButton">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="professionalExperience">
                    <div class="form-group">
                        <label>
                            <i class="fas fa-briefcase"></i> Professional Experience
                        </label>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#professionalExperienceModal">
                            <i class="fas fa-plus"></i> Add Professional Experience
                        </button>

                        <div id="professionalExperienceList">
                            @foreach (var professionalExperience in Model.ProfessionalExperiences)
                            {
                                <div class="experience-item" data-company-name="@professionalExperience.CompanyName" data-city="@professionalExperience.City">
                                    <p>
                                        <i class="fas fa-building"></i> @professionalExperience.CompanyName -
                                        @professionalExperience.City (@professionalExperience.StartDate - @professionalExperience.EndDate)
                                    </p>
                                    <button type="button" class="btn btn-sm btn-warning editExperienceButton">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger deleteExperienceButton">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input asp-for="DegreesJson" id="degreesJson" type="hidden" value="" />
                </div>

                <div class="form-group">
                    <input asp-for="ProfessionalExperiencesJson" id="professionalExperiencesJson" type="hidden" value="" />
                </div>

                <div class="text-center">
                    <input id="submit" class="btn btn-primary btn-lg mt-4 px-5" type="submit" value="Save" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="degreeModal" tabindex="-1" aria-labelledby="degreeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="degreeModalLabel"><i class="fas fa-graduation-cap"></i> Add Degree</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="educationalInstitution">Educational Institution</label>
                    <input type="text" id="educationalInstitution" class="form-control" required placeholder="Educational Institution">
                </div>
                <div class="form-group">
                    <label for="major">Major</label>
                    <input type="text" id="major" class="form-control" required placeholder="Major">
                </div>
                <div class="form-group">
                    <label for="educationalLevel">Educational Level</label>
                    <input type="text" id="educationalLevel" class="form-control" required placeholder="Educational Level">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" id="city" class="form-control" required placeholder="City">
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input id="startDate" class="form-control" required placeholder="Start Date(Format: dd/MM/yyyy)">
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input id="endDate" class="form-control" required placeholder="End Date(Format: dd/MM/yyyy)">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addDegreeButton">
                    <i class="fas fa-plus"></i> Add Degree
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="professionalExperienceModal" tabindex="-1" aria-labelledby="professionalExperienceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="professionalExperienceModalLabel">
                    <i class="fas fa-briefcase"></i> Add Professional Experience
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="companyName">Company Name</label>
                    <input type="text" id="companyName" class="form-control" required placeholder="Company Name">
                </div>
                <div class="form-group">
                    <label for="experienceCity">City</label>
                    <input type="text" id="experienceCity" class="form-control" required placeholder="City">
                </div>
                <div class="form-group">
                    <label for="experienceStartDate">Start Date</label>
                    <input id="experienceStartDate" class="form-control" required placeholder="Start Date">
                </div>
                <div class="form-group">
                    <label for="experienceEndDate">End Date</label>
                    <input id="experienceEndDate" class="form-control" required placeholder="End Date">
                </div>
                <div class="form-group">
                    <label for="experienceDescription">Description</label>
                    <textarea id="experienceDescription" class="form-control" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addProfessionalExperienceButton">
                    <i class="fas fa-plus"></i> Add Experience
                </button>
            </div>
        </div>
    </div>
</div>