@model CVFormModel

@{
    ViewBag.Title = "Create CV";
}

<h3>Create CV</h3>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" placeholder="FirstName" />
                <span asp-validation-for="FirstName" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" placeholder="LastName" />
                <span asp-validation-for="LastName" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="LastName" />
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LinkedInProfile"></label>
                <input asp-for="LinkedInProfile" class="form-control" placeholder="LinkedInProfile" />
                <span asp-validation-for="LinkedInProfile" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" placeholder="Required Language" />
                <span asp-validation-for="Address" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender"></label>
                <input asp-for="Gender" class="form-control" placeholder="Required Degree" />
                <span asp-validation-for="Gender" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate" class="form-control" placeholder="Required Experience" />
                <span asp-validation-for="BirthDate" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Citizenship"></label>
                <input asp-for="Citizenship" class="form-control" placeholder="Required Skills" />
                <span asp-validation-for="Citizenship" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Photo"></label>
                <input asp-for="Photo" class="form-control" placeholder="Required Skills" />
                <span asp-validation-for="Photo" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Languages"></label>
                <input asp-for="Languages" class="form-control" placeholder="Required Skills" />
                <span asp-validation-for="Languages" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Skills"></label>
                <input asp-for="Skills" id="skills" class="form-control" placeholder="Required Skills" />
                <span asp-validation-for="Skills" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DrivingLicense"></label>
                <input asp-for="DrivingLicense" class="form-control" placeholder="Required Skills" />
                <span asp-validation-for="DrivingLicense" class="small text-danger"></span>
            </div>

            <div class="degree">
                <div class="form-group">
                    <div class="form-group">
                        <label>Degrees</label>

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#degreeModal">
                            Add Degree
                        </button>

                        <div id="degreeList">
                            @foreach (var degree in Model.Degrees)
                            {
                                <div class="degree-item">
                                    <p>@degree.EducationalInstitution - @degree.Major (@degree.StartDate - @degree.EndDate)</p>
                                    <button type="button" class="btn btn-sm btn-warning editDegreeButton">Edit</button>
                                    <button type="button" class="btn btn-sm btn-danger deleteDegreeButton">Delete</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="degreeModal" tabindex="-1" aria-labelledby="degreeModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="degreeModalLabel">Add Degree</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="educationalInstitution">Educational Institution</label>
                                    <input type="text" id="educationalInstitution" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="major">Major</label>
                                    <input type="text" id="major" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="educationalLevel">Educational Level</label>
                                    <input type="text" id="educationalLevel" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input type="text" id="city" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="startDate">Start Date</label>
                                    <input id="startDate" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="endDate">End Date</label>
                                    <input id="endDate" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea id="description" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="addDegreeButton">Add Degree</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="professionalExperience">
                <div class="form-group">
                    <label>Professional Experience</label>

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#professionalExperienceModal">
                        Add Professional Experience
                    </button>

                    <div id="professionalExperienceList">
                        <div id="professionalExperienceList">
                            @foreach (var professionalExperience in Model.ProfessionalExperiences)
                            {
                                <div class="experience-item" data-company-name="@professionalExperience.CompanyName" data-city="@professionalExperience.City">
                                    <p>@professionalExperience.CompanyName - @professionalExperience.City (@professionalExperience.StartDate - @professionalExperience.EndDate)</p>
                                    <button type="button" class="btn btn-sm btn-warning editExperienceButton">Edit</button>
                                    <button type="button" class="btn btn-sm btn-danger deleteExperienceButton">Delete</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="professionalExperienceModal" tabindex="-1" aria-labelledby="professionalExperienceModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="professionalExperienceModalLabel">Add Professional Experience</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="companyName">Company Name</label>
                                    <input type="text" id="companyName" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="experienceCity">City</label>
                                    <input type="text" id="experienceCity" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="experienceStartDate">Start Date</label>
                                    <input id="experienceStartDate" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="experienceEndDate">End Date</label>
                                    <input id="experienceEndDate" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="experienceDescription">Description</label>
                                    <textarea id="experienceDescription" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="addProfessionalExperienceButton">Add Professional Experience</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input asp-for="DegreesJson" id="degreesJson" type="hidden" value="" />
            </div>

            <div class="form-group">
                <input asp-for= "ProfessionalExperiencesJson" id="professionalExperiencesJson" type="hidden" value="" />
            </div>

            <div class="text-center">
                <input id ="submit" class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {   
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="~/js/degreeManager.js"></script>
    <script src="~/js/professionalExperienceManager.js"></script>
}