@model List<JobOfferApplicantsViewModel>

@{
    ViewBag.Title = "View Job Applicants";
}

<h3>@ViewBag.Title</h3>
<hr />

@foreach (var applicant in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@applicant.Email</h5>
            <h3>Is Approved: @applicant.IsApproved</h3>
            <p class="card-text">@applicant.AppliedOn</p>
        </div>

        <div class="form-group col-md-3">
            <form class="input-group-sm" asp-area="" asp-controller="JobApplication"
                  asp-action="Approve" asp-route-jobId="@applicant.JobId" method="post"
                  asp-route-userId="@applicant.UserId">
                <input class="btn btn-primary" type="submit" value="Approve" />
            </form>
        </div>
    </div>

    <br />
}
